@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #030303;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul {
  list-style-type: none;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInTop {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-90px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes apparitionImage {
  100% {
    transform: scale(1);
  }
}
@keyframes apparitionColors {
  from {
    filter: grayscale(100%);
    opacity: 0.1;
  }
  to {
    filter: grayscale(0%);
    opacity: 1;
  }
}
.information-taille-ecran {
  display: none;
}
@media screen and (max-width: 1280px) {
  .information-taille-ecran {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    font-size: clamp(20px, 7vw, 50px);
    text-shadow: 1px 0 10px black;
  }
}

@media screen and (max-width: 1280px) {
  .main-container {
    filter: blur(4px);
  }
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 70% 1fr 2fr;
  grid-template-rows: 15vh 20vh 1fr 20vh;
  background-color: #030303;
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: 500ms ease-in-out forwards fadeInTop;
}
nav .logo {
  width: 20%;
  min-width: 20.5rem;
  transform: translateY(-1rem);
  margin-left: 6.4rem;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
nav ul li {
  position: relative;
  cursor: pointer;
}
nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 0.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: white;
  transform-origin: 0;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
nav ul li:hover::after {
  transform: scale(1);
}

.gold {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../../images/bg_gold.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: 1s ease-in forwards apparitionColors;
}

.content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100%;
}
.content .container {
  position: relative;
}
.content .container .image-moto {
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
  transform: scale(0);
  animation: 600ms ease-in-out forwards apparitionImage;
  z-index: 0;
}
.content .container .circle {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 16.5rem;
  transform: scale(0);
  animation: 700ms linear forwards apparitionImage, 40s linear 700ms infinite rotation;
  z-index: 1;
}
.content .container .vector {
  position: absolute;
  bottom: 0;
  margin-left: 0.1rem;
  max-width: 133%;
  opacity: 0;
  animation: 500ms ease-in-out 500ms forwards fadeInLeft;
  z-index: 1;
}
.content .doe-image {
  max-width: 100%;
  max-height: 100%;
  justify-self: end;
  opacity: 0;
  animation: 500ms ease-in-out 500ms forwards fadeInRight;
}

.stat {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5rem 2rem;
  opacity: 0;
  animation: 500ms ease-in-out 300ms forwards fadeInRight;
}
.stat ul {
  margin: auto 0 auto 1.5rem;
}
.stat ul li:nth-child(1),
.stat ul li:nth-child(3) {
  font-size: 1.2rem;
}
.stat ul li:nth-child(2) {
  font-family: "Mukta", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.stat > div {
  display: flex;
}
.stat > div div {
  font-size: 1.8rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  color: #3f3e44;
}
.stat .point-moyen {
  content: "";
  display: inline-block;
  background-image: url("../../images/circle-solid.svg");
  background-size: 0.6rem 0.6rem;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 0.5rem;
  transform: translateY(-0.7rem);
}
.stat .point-petit {
  content: "";
  display: inline-block;
  background-image: url("../../images/circle-solid.svg");
  background-size: 0.2rem 0.2rem;
  height: 0.2rem;
  width: 0.2rem;
  margin: 0 0.25rem;
  transform: translateY(-0.3rem);
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  color: white;
}
.footer .selecteur {
  display: flex;
  font-family: "Mukta", sans-serif;
  font-size: 1.8rem;
  align-items: center;
  margin: 0 5% 0 3%;
  flex-basis: 226px;
  opacity: 0;
  animation: 500ms ease-in-out 400ms forwards fadeInBottom;
}
.footer .selecteur img {
  width: 1.5rem;
}
.footer .selecteur span:nth-child(2) {
  margin-left: 10px;
}
.footer .selecteur span:nth-child(4) {
  margin-right: 10px;
}
.footer .selecteur .bar {
  width: 22.6rem;
  height: 0.2rem;
  border-radius: 1rem;
  position: relative;
  background: #fff;
  margin: 0 40px;
}
.footer .selecteur .bar .pourcentage {
  background: #a75b12;
  position: relative;
  width: 14rem;
  height: 0.2rem;
  border-radius: 1rem;
}
.footer .description p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-right: 5.7rem;
  opacity: 0;
  animation: 500ms ease-in-out forwards fadeInBottom;
}
.footer > img {
  height: 100%;
  opacity: 0;
  animation: 500ms ease-in-out 600ms forwards fadeInRight;
}

/*# sourceMappingURL=style.css.map */
