@import "_config.scss";
@import "_font.scss";

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 70% 1fr 2fr;
  grid-template-rows: 15vh 20vh 1fr;
}

nav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: red;
  display: flex;
  align-items: center;

  .logo {
    width: 20%;
    min-width: 20.5rem;
    transform: translateY(-1rem);
    margin-left: 6.4rem;
  }

  ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-family: "Reem Kufi Fun", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}

.gold {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: yellow;
  background-image: url(../../images/bg_gold.png);
  background-position: center;
}

.content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: green;
}

.stat {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: black;
}
